@{
    ViewData["Title"] = "Home Page";
}

<br />
<div class="text-left">
    <p>Identity Server4, .Net Core için OpenId Connect ve OAuth2 protokolleri kullanan açık kaynak kodlu bir framework'dür. IdentityServer ile web uygulamalarımız, desktop uygulamalarımız veya Web Api'lerimiz için tek bir noktadan uygulamalar arası veya kullanıcı bazında kimliklendirme ve erişim kontrolü sağlayabiliriz.</p>
</div>
<br />
<div class="text-left">
    <p>Identity Server4 is an open source framework for .Net Core that uses OpenId Connect and OAuth2 protocols. With Identity, our web applications can perform identity and access control on a single deploy applications or user basis for desktop applications or Web applications.</
</div>